<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.srujan.com.drinkwater" 
    >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/glass"
        android:label="@string/app_name"
        android:theme="@style/CustomThemePink" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeTheme"
            android:label="@string/title_activity_change_theme" >
        </activity>
        <activity
            android:name=".TodaysStatus"
            android:label="@string/title_activity_todays_status" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SubSettings.SubSettings1"
            android:label="@string/title_activity_sub_settings1" >
        </activity>
        <activity
            android:name=".LineChartActivity"
            android:label="LineChartActivity" >
        </activity>
        <activity
            android:name=".DrinkWater"
            android:label="@string/title_activity_drink_water" >
        </activity>
    </application>

</manifest>
